# See https://help.github.com/articles/ignoring-files for more about ignoring files.

### Rails ###
# Ignore bundler config
/.bundle

# Environment files
/.env*

# Logs and tempfiles
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/tmp/cache/*

# Storage (uploaded files in development and any SQLite databases)
/storage/*
!/storage/.keep

# Asset pipeline
/public/assets
/public/packs
/public/packs-test
/app/assets/builds/*
!/app/assets/builds/.keep

# Credentials and secrets
/config/master.key
/config/credentials/*.key
/config/development.key
/config/production.key
/config/staging.key

### Node.js ###
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

### Testing ###
# Test coverage reports
/coverage/
/coverage.*
.rspec_status
spec/examples.txt
spec/fixtures/files/large_test_files/*
.simplecov

### System Files ###
.DS_Store
**/.DS_Store
*.swp
*.swo
.byebug_history

### IDE Files ###
/.idea/
/.vscode/
